<a [routerLink]="['/animal']" style="border: none;
  color: white;
  padding: 20px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 25px;
  margin: 4px 2px ;
  border-radius: 50%;width: 300px;
position: absolute;
left: 580px;top: 250px" class="btn-success btn">
  Con Vật
</a>
<a style="border: none;
  color: white;
  padding: 20px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 25px;
  margin: 4px 2px ;
  border-radius: 50%;width: 300px;
position: absolute;
left: 580px;top: 360px" class="btn-success btn">
  Đồ Vật
</a>
